.header {
    position: relative;
    height: 900px;
    background: url("../images/bg-header.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 50px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__nav {
        color: white;
        & > * + * {
            margin-left: 50px;
        }

        &-link {
            font-size: 22px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__content {
        padding-top: 244px;
        text-align: center;
        color: white;

        & > * + * {
            margin-top: 20px;
        }
    }

    &__scrolls {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 18px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}


.logo {
    color: white;
    font-size: 40px;
}

.subtitle {
    font-size: 24px;
}


.title {
    @extend .pt-sans-bold;
    font-size: 60px;
}

.main {
    padding: 120px 0;
    
    & > * + * {
        margin-top: 120px;
    }

     & > *:nth-child(even) {
                .article__row {
                    flex-direction: row-reverse;
                }
            }

    .article {

        &__row {
            display: flex;
            justify-content: space-between;
            flex-shrink: 0;
           
          
        }

        &__content {
            width: 470px;
        }


        &__title {
            @extend .pt-sans-bold;
            font-size: 54px;
            color: $secondary;
            margin-bottom: 20px;
    
        }

        &__text {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 40px;

            a {
                color: #138ECE;
            }

            b, strong {
                color: $secondary;
            }
        }

        &__image {
            width: 570px;
            
        }

        &__link {
            padding: 12px 40px;
            background-color: $green;
            color: white;
            font-size: 20px;
            font-weight: bold;
            border-radius: 50px;

            &:hover {
                text-decoration: underline;
            }
        }
      
    }

    
}

.footer {
    padding: 71px 0 94px;
    background-color: $primary;
    color: white;

    &__copyright {
       width: 270px;
        & > * + * {
            margin-top: 26px;
            
        }
        &-text {
            font-size: 16px;
            line-height: 1.6;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__widgets {
        display: flex;
        justify-content: flex-end;
        
    }
}

.widget {
    &__title {
        font-size: 24px;
        @extend %fontBold;
        margin-bottom: 30px;
    }

    &__link {
        color: white;
        text-decoration: none;
        font-size: 18px;


        &:hover {
            text-decoration: underline;
        }
    }

    &__links {
        & > * {
            width: 100%;
            & + * {
                margin-top: 20px;
            }
        }
    }
}


