.header {
    height: 800px;
    background: $primary;
    padding-top: 50px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__nav {
        color: white;
        & > * + * {
            margin-left: 50px;
        }

        &-link {
            font-size: 22px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__content {
        padding-top: 244px;
        text-align: center;
        color: white;

        & > * + * {
            margin-top: 20px;
        }
    }
}

.logo {
    color: white;
    font-size: 40px;
}

.subtitle {
    font-size: 24px;
}


.title {
    @extend .pt-sans-bold;
    font-size: 60px;
}