$primary: #265847;
$secondary: #31405B;
$green: #0AC883;
$page-background: #F2F8F6;
$sidebarLine:#D6D9D8;


// container
$container-width: 1170px;
$container-padding: 15px;
$container: $container-width + ($container-padding * 2);