@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a,
label,
textarea,
input,
select,
span {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
}
.sticky-footer > main {
  flex-grow: 1;
}
.sticky-footer > * {
  flex-shrink: 0;
}

button,
a,
label,
textarea,
input,
select {
  cursor: pointer;
  border: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  background: #F2F8F6;
}

.lobster-regular, .pt-sans-bold, .main .article__title, .title, .pt-sans-regular, html,
body {
  font-style: normal;
}

.pt-sans-bold-italic, .pt-sans-regular-italic {
  font-style: italic;
}

.lobster-regular, .pt-sans-regular-italic, .pt-sans-regular, html,
body {
  font-weight: 400;
}

.widget__title, .pt-sans-bold-italic, .pt-sans-bold, .main .article__title, .title {
  font-weight: 700;
}

.pt-sans-bold-italic, .pt-sans-regular-italic, .pt-sans-bold, .main .article__title, .title, .pt-sans-regular, html,
body {
  font-family: "PT Sans", sans-serif;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
}

.header {
  position: relative;
  height: 900px;
  background: url("../images/bg-header.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 50px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__nav {
  color: white;
}
.header__nav > * + * {
  margin-left: 50px;
}
.header__nav-link {
  font-size: 22px;
  text-decoration: none;
}
.header__nav-link:hover {
  text-decoration: underline;
}
.header__content {
  padding-top: 244px;
  text-align: center;
  color: white;
}
.header__content > * + * {
  margin-top: 20px;
}
.header__content__scrolls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo {
  color: white;
  font-size: 40px;
}

.subtitle {
  font-size: 24px;
}

.title {
  font-size: 60px;
}

.main {
  padding: 120px 0;
}
.main > * + * {
  margin-top: 120px;
}
.main > *:nth-child(even) .article__row {
  flex-direction: row-reverse;
}
.main .article__row {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.main .article__content {
  width: 470px;
}
.main .article__title {
  font-size: 54px;
  color: #31405B;
  margin-bottom: 20px;
}
.main .article__text {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.main .article__text a {
  color: #138ece;
}
.main .article__text b,
.main .article__text strong {
  color: #31405B;
}
.main .article__image {
  width: 570px;
}
.main .article__link {
  padding: 12px 40px;
  background-color: #0AC883;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
}
.main .article__link:hover {
  text-decoration: underline;
}

.footer {
  padding: 71px 0 94px;
  background-color: #265847;
  color: white;
}
.footer__copyright {
  width: 270px;
}
.footer__copyright > * + * {
  margin-top: 26px;
}
.footer__copyright-text {
  font-size: 16px;
  line-height: 1.6;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer__widgets {
  display: flex;
  justify-content: flex-end;
}

.widget {
  max-width: 270px;
}
.widget__title {
  font-size: 24px;
  margin-bottom: 30px;
}
.widget__link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.widget__link:hover {
  text-decoration: underline;
}
.widget__links > * {
  width: 100%;
}
.widget__links > * + * {
  margin-top: 20px;
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .header__nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 50px 40px;
    flex-direction: column;
    overflow-y: auto;
    z-index: 49;
  }
  .header__nav.open {
    display: flex !important;
  }
  .header__nav-link {
    margin-bottom: 30px;
    color: #faf6f2;
    text-decoration: none;
  }
}
.header__nav ul {
  flex-direction: column;
  row-gap: 30px;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.page-main {
  padding: 60px 0 100px;
}

.page-header {
  background: url("../images/tour-header-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 25px 0;
}

.title-2 {
  text-align: center;
  font-size: 54px;
  color: #31405B;
  margin-bottom: 60px;
}

.tours_image {
  flex: 1;
}

.tours__images > * + * {
  margin-top: 24px;
}

.tours__images-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.tours__images-vertical {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}

.tours_image img,
.tours_image1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.tours_image1 {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 470px;
  flex-shrink: 0;
  height: 680px;
}

.title-3 {
  font-size: 28px;
  font-weight: bold;
  color: #31405b;
}

.article {
  align-items: center;
}
.article__row {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.article__sidebar {
  width: 270px;
}
.article__sidebar > * + * {
  margin-top: 34px;
}
.article__nav {
  border-top: 1px solid #D6D9D8;
  border-bottom: 1px solid #D6D9D8;
}
.article__nav-link {
  display: inline-block;
  padding: 18px 0;
  width: 100%;
  color: #138ECE;
  font-size: 20px;
}
.article__nav-link.active, .article__nav-link:hover {
  color: #e04e4e;
}
.article__nav > * + * {
  border-top: 1px solid #D6D9D8;
}
.article__content {
  width: 770px;
  font-size: 20px;
  line-height: 1.6;
}
.article__content a {
  color: #138ece;
}
.article__content b,
.article__content strong {
  color: #31405B;
}
.article__description {
  text-align: justify;
}
.article__description > * + * {
  margin-top: 30px;
}

.contacts-page {
  background-color: #F2F8F6;
}

.contacts .container {
  padding: 60px 0 100px;
}

.contacts__content {
  display: flex;
  gap: 69px;
  flex: 1;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.real-checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #C0C0C0, 0px 0px 10px gray;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #EEEEEE;
  border: 1px solid #C0C0C0;
  border-radius: 2px;
  vertical-align: sub;
  margin-right: 15px;
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("../images/icons/Shape.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.contacts__form-row {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 12px;
}

.contacts__form-icon {
  width: 18px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
  margin-top: 2px;
}

.contacts h2 {
  text-align: left;
}

.contacts__title-3 {
  font-size: 28px;
  font-weight: bold;
  color: #31405B;
}

.contacts__form .contacts__title-3 {
  margin-bottom: 20px;
}

.contacts__form-inputs {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 570px;
}

.contacts__form input {
  padding: 12px 60px 15px 20px;
  background-color: #EEEEEE;
  border: 2px solid #C0C0C0;
  border-radius: 8px;
}

.name-input {
  width: 100%;
}

.contacts-row {
  display: flex;
  font-size: 18px;
  color: #31405B;
  width: 100%;
  gap: 10px;
}

.contacts-row input {
  flex: 1;
  min-width: 0;
}

.contacts__content-info {
  flex-shrink: 0;
}

.contacts__content-info > * {
  margin-bottom: 20px;
}

.contacts__content-info > *:nth-child(n+3) {
  font-size: 20px;
  color: #31405B;
  line-height: 1.6;
}

.contacts__form-map {
  width: 470px;
  height: 345px;
}

.contacts__form {
  padding: 40px;
  flex: 1;
  background-color: #FFFFFF;
  width: 630px;
  min-height: 764px;
}

.contacts__form .contacts-desc {
  margin-bottom: 20px;
}

.contacts__form input {
  padding: 12px 60px 15px 20px;
  background-color: #EEEEEE;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-radio {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #31405B;
  cursor: pointer;
  position: relative;
  gap: 10px;
}

.radio-group {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-radio input[type=radio] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.custom-radio-circle {
  width: 18px;
  height: 18px;
  background-color: #EEEEEE;
  border: 2px solid #C0C0C0;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
}

.custom-radio input[type=radio]:checked + .custom-radio-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #0AC883;
  border-radius: 50%;
}

.contacts__label-info {
  font-size: 20px;
  font-weight: bold;
  color: #31405B;
  margin-bottom: 20px;
}

.radio-group-next {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #31405B;
  font-size: 18px;
  margin-bottom: 35px;
}

.contacts-btn {
  padding: 12px 40px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background: #0AC883;
  border-radius: 50px;
}

.open {
  display: flex !important;
}

@media (min-width: 900px) and (max-width: 1199px) {
  .header {
    height: 591px;
  }
}
.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 50;
}
@media (min-width: 900px) and (max-width: 1199px) {
  .header__burger {
    display: flex;
  }
}
.header .header__burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #faf6f2;
}
.header .header__burger::before,
.header .header__burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #faf6f2;
  transition: all 0.3s ease 0s;
}
.header .header__burger::before {
  top: 0;
}
.header .header__burger::after {
  bottom: 0;
}
.header .header__burger.active span {
  transform: scale(0);
}
.header .header__burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.header .header__burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (min-width: 900px) and (max-width: 1199px) {
  .header__nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 50px 40px;
    flex-direction: column;
    overflow-y: auto;
    z-index: 49;
  }
  .header__nav.open {
    display: flex !important;
  }
  .header__nav-link {
    margin-bottom: 30px;
    color: #faf6f2;
    text-decoration: none;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .header__nav ul {
    flex-direction: column;
    row-gap: 30px;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */