@import "tailwindcss";
@import "./vars.css";
@plugin "@tailwindcss/typography";

@theme {
  /* your colors here, prefix with --color */
  --color-primary: #265847;
  --color-black: #31405B;
  --color-primary-white: #F2F8F6;
  --color-gray: #f2f2f2;
  --color-greean: #0AC883;
}